.main-page {
  height: 718px;
  width: 375px;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-position: 0;
  padding-bottom: 114px;
  border-bottom-right-radius: 30px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  text-decoration: none;
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: 1 1 40%;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar img {
  width: 24px;
  height: 24px;
  padding-right: 20px;
  padding-top: 10px;
}

.container {
  padding: 20px;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 50px;
}

.welcome h1 {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.welcome .details {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
}

.social {
  display: flex;
  flex-wrap: wrap;
  width: 170.17px;
  height: 20px;
  order: 3;
}

.social .connect {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: 1 1 90%;
}

ul {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
}

.social .sIcon {
  padding-left: 20px;
}
